# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=c6hmx341
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=

# Stripe
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# Printful
PRINTFUL_API_KEY=

# Resend
RESEND_API_KEY=
ARTIST_EMAIL=

# Site
NEXT_PUBLIC_SITE_URL=https://yourdomain.com
